@page "/CustomFallback"

<h1>Could not find requested page!</h1>
<img src="https://media1.giphy.com/media/jJO1Bwuch5orK/giphy.webp?cid=ecf05e47ku6xr0f7ry2kfnz5bua9uu6g6obpvu2w8cnis6xl&rid=giphy.webp&ct=g" />
