@page "/modifyhead"

<h3>Modify HTML Head From Blazor</h3>

<HeadContent>
	<meta name="description" content="@description">
</HeadContent>

@code {
	private string description = "Comprehensive dynamic description";
}