@page "/test"

<h3>@Label</h3>
<TypeParamComponent @ref="Ref" TValue="string"></TypeParamComponent>

@code{
    TypeParamComponent<string> Ref;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        
    }
}