@page "/stacklayout"

<TelerikStackLayout Orientation="StackLayoutOrientation.Vertical" Height="100%">
	<div class="red">
		Header
	</div>
	<TelerikStackLayout Orientation="StackLayoutOrientation.Horizontal">
		<div class="green">
			Navigation<br/>
			console on March 13, 2007, it is the second installment in the God of War series, the sixth
			chronologically, and the sequel to 2005's God of War. The game is based on Greek mythology and
			set in ancient Greece, with vengeance as its central motif. The player character is protagonist
			Kratos, the new God of War who killed the former, Ares. Kratos is betray
		</div>
		<div class="yellow">
			God of War II is an action-adventure game developed by Santa Monica Studio
			and published by Sony Computer Entertainment (SCE). First released for the PlayStation 2
			console on March 13, 2007, it is the second installment in the God of War series, the sixth
			chronologically, and the sequel to 2005's God of War. The game is based on Greek mythology and
			set in ancient Greece, with vengeance as its central motif. The player character is protagonist
			Kratos, the new God of War who killed the former, Ares. Kratos is betray
		</div>
		<div class="orange">
			Right side content
		</div>
	</TelerikStackLayout>
	<div class="purple">
		Footer<br/>
		console on March 13, 2007, it is the second installment in the God of War series, the sixth
		chronologically, and the sequel to 2005's God of War. The game is based on Greek mythology and
		set in ancient Greece, with vengeance as its central motif. The player character is protagonist
		Kratos, the new God of War who killed the former, Ares. Kratos is betray
	</div>
</TelerikStackLayout>

<style>
	.red {
		background-color: #dc3545;
	}

	.green {
		background-color: #198754;
	}

	.yellow {
		background-color: #ffc107;
	}

	.orange {
		background-color: #fd7e14;
	}

	.purple {
		background-color: #6f42c1;
	}

	body, html {
		height: 100%;
	}
</style>