@using System.Collections.Generic
@using Data
@inject Data.CartState CartState

<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">BlazorApp</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="cart">
				<span class="oi oi-plus" aria-hidden="true"></span> Cart
				<span>&nbsp;<strong>@CartState.CartCount</strong></span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="stacklayout">
				<span class="oi oi-minus" aria-hidden="true"></span> StackLayout
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="personmodel">
				<span class="oi oi-minus" aria-hidden="true"></span> Person Model
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="dynamiccomponent">
				<span class="oi oi-minus" aria-hidden="true"></span>Dynamic Component
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="querystring">
				<span class="oi oi-minus" aria-hidden="true"></span>Q-String Comp Param
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="modifyhead">
				<span class="oi oi-minus" aria-hidden="true"></span>Modify HTML Head
			</NavLink>
		</li>		<li class="nav-item px-3">
			<NavLink class="nav-link" href="modifytitle">
				<span class="oi oi-minus" aria-hidden="true"></span>Modify HTML Title
			</NavLink>
		</li>
	</ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();
		CartState.OnChange += () => InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		CartState.OnChange -= StateHasChanged;
	}
}
